
<nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>

      <li><a routerLink="/course" routerLinkActive="active" ariaCurrentWhenActive="page">Course</a></li>
      <li><a routerLink="/course/1" routerLinkActive="active" ariaCurrentWhenActive="page">Course Details</a></li>

      <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
    </ul>
  </nav>

<router-outlet></router-outlet>
