<div>
        <p>Presupuesto Disponible</p>
        <p>{{presupuesto.monto}}</p>

        <div class="form-goup">
            <label for="ingresos" class="form-label">Ingreso</label>
            <input type="text" class="form-control" name="ingresos" id="ingresos" [(ngModel)]="tingresos" >
        </div>

        <div class="form-goup">
            <label for="egresos" class="form-label">Egreso</label>
            <input type="text" class="form-control" name="egresos" id="egresos" [(ngModel)]="tegresos">
        </div>
</div>