

<div class="content" role="main">
    {{title}}
</div>


<!-- <h1 id="two-way">Two-way Binding</h1>
<div id="two-way-1">

  <div class="container">
  <app-sizer [(size)]="mensajePadre"></app-sizer>
  <p>Texto Padre: <input id="mensajePadre" [(ngModel)]="mensajePadre"/></p>
  </div>

</div>
 -->

 <!-- <app-formulario-basico></app-formulario-basico> -->

 <!-- Formularios Plantilla -->
<!-- <app-form-plantilla></app-form-plantilla> -->

<!-- <app-form-control></app-form-control> -->

<!-- <app-form-reactivo></app-form-reactivo> -->

<!-- <app-form-practice></app-form-practice> -->

<!-- <app-padre></app-padre> -->

<div class="container">
<div class="row">

  <div class="col-md-6">
    <app-curso-add [tipoAccion]="tipoAccion"></app-curso-add>
  </div>

  <div class="col-md-6">
    
  </div>
</div>
</div>



<!--  <app-registro></app-registro> -->
<!-- <app-empleado></app-empleado> -->
<!-- <app-calculadora> </app-calculadora> -->
